@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 33% 98%;
    --foreground: 0 0% 10%;
    --card: 216 33% 98%;
    --card-foreground: 0 0% 10%;
    --popover: 216 33% 98%;
    --popover-foreground: 0 0% 10%;
    --primary: 211 28% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 215 25% 85%;
    --secondary-foreground: 0 0% 10%;
    --muted: 217 56% 94%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 217 56% 94%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20% 65%;
    --input: 215 20% 65%;
    --ring: 211 28% 48%;
    --radius: 12px;
  }
 
  .dark {
    --background: 217 23% 7%;
    --foreground: 0 0% 96%;
    --card: 217 23% 7%;
    --card-foreground: 0 0% 96%;
    --popover: 217 23% 7%;
    --popover-foreground: 0 0% 96%;
    --primary: 212 26% 70%;
    --primary-foreground: 217 23% 7%;
    --secondary: 214 30% 14%;
    --secondary-foreground: 0 0% 96%;
    --muted: 214 30% 14%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 214 30% 14%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 30% 20%;
    --input: 214 30% 20%;
    --ring: 212 26% 70%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .shine {
    position: relative;
    overflow: hidden;
  }
  .shine::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 80%);
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .dark .shine::after {
     background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 70%);
  }
  .shine:hover::after {
    opacity: 1;
  }

  .text-reflection {
    -webkit-box-reflect: below -2px linear-gradient(transparent, rgba(0,0,0,0.05));
  }

  .dark .text-reflection {
     -webkit-box-reflect: below -2px linear-gradient(transparent, rgba(0,0,0,0.1));
  }
}
